.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: cursive;
}
.controls {
  display: flex;
  border: 2px solid;
  background-color: chocolate;
}
button {
  width: 100px;
  height: 30px;
  margin: 10px;
  font-family: cursive;
  color: chocolate;
  background-color: rgb(105, 52, 14);
}
button:disabled {
  color: chocolate;
  background-color: rgb(255, 126, 34);
}
.slider {
  margin: 10px;
}
select {
  height: 30px;
  margin: auto 10px;
  font-family: cursive;
  color: chocolate;
  background-color: rgb(105, 52, 14);
}
select:disabled {
  color: chocolate;
  background-color: rgb(255, 126, 34);
}

.action {
  position: relative;
  width: 100%;
  height: 600px;
  text-align: center;
  display: flex;
  align-items: flex-end;
  border: 2px solid;
  background-color: darkkhaki;
}
.array-element {
  position: absolute;
  left: 0px;
  order: 0;
  width: 30px;
  height: 30px;
  font-family: cursive;
  font-size: 10;
  background-color: green;
  border: 1px solid;
  margin: 10px;
  transition: left 500ms;
}
